header{
    position:relative;
    margin:auto;
    text-align:center;
    padding:5px; 
}

nav{
    position:relative;
    margin:auto;
    width:100%;
    height:auto;
    background:black;
}


nav ul{
    position:relative;
    margin:auto;
    width:70%;
    text-align: center;
}

nav ul li{
    display:inline-block;
    width:18%;
    line-height:50px;
    list-style: none;
}
 

nav ul li a{
    color:white;
    text-decoration: none;
}
 

section{
    position:relative;
    padding:20px;
}

form{
    width:800px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    background-color:#ccc;
}

form label{
    width:400px;
    font-weight:bold;
    display:inline-block;
}

form input[type="text"]{
    width:240px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    display:inline-block;
}

textarea {
    width:260px;
}

table{
    position: relative;
    margin: auto;
    text-align: center;
    padding: 10px; 
    
}

th, td {
  padding: 5px;
  width: 240px;
}

h2{
    text-align: center;
}

.CantRojo{
    background-color: hsl(0, 60%, 60%);
}

.CantVerde{
    background-color: hsl(120, 60%, 60%);
}

.obligatorio{
    text-align: center;
}

.pagin{
    padding: 30px;
}