header{
    position:relative;
    margin:auto;
    text-align:center;
    padding:5px; 
}

nav{
    position:relative;
    margin:auto;
    width:100%;
    height:auto;
    background:black;
}


nav ul{
    position:relative;
    margin:auto;
    width:50%;
    text-align: center;
}

nav ul li{
    display:inline-block;
    width:24%;
    line-height:50px;
    list-style: none;
}
 

nav ul li a{
    color:white;
    text-decoration: none;
}
 

section{
    position:relative;
    padding:20px;
}

form input[type="file"]{
  color: transparent;
}

textarea {
    width:260px;
}

table{
    position: relative;
    margin: auto;
    text-align: center;
    padding: 10px; 
    
}

th, td {
  padding: 5px;
  width: 200px;
}

h2{
    text-align: center;
}

.CantRojo{
    background-color: hsl(0, 60%, 60%);
}

.CantVerde{
    background-color: hsl(120, 60%, 60%);
}