header{
    position:relative;
    margin:auto;
    text-align:center;
    padding:5px; 
}

nav{
    position:relative;
    margin:auto;
    width:100%;
    height:auto;
    background:black;
}


nav ul{
    position:relative;
    margin:auto;
    width:50%;
    text-align: center;
}

nav ul li{
    display:inline-block;
    width:24%;
    line-height:50px;
    list-style: none;
}
 

nav ul li a{
    color:white;
    text-decoration: none;
}
 

section{
    position:relative;
    padding:20px;
}

form{
    width:800px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    background-color:#ccc;
}

form label{
    width:400px;
    font-weight:bold;
    display:inline-block;
}

form input[type="text"]{
    width:240px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    display:inline-block;
}

/*form input[type="file"]{
  color: transparent;
}*/

textarea {
    width:260px;
}


h2{
    text-align: center;
}
